
@* @page "/" *@
@page "/user-details"
@using PlutoSafe.Components.Shared
@using Microsoft.Maui.ApplicationModel;
@using Microsoft.Maui.Media

@inject NavigationManager Nav
@* @inject JSRuntime JS *@
@inject IJSRuntime JS

<link href="css/user-details.css" rel="stylesheet" />

<!-- ================= PAGE CONTENT (BLURRED) ================= -->
<div class="ud-bg @(showAgreement ? "blur-bg" : "")">

    <!-- HEADER -->
    <div class="ud-header">
        <span class="back" @onclick='() => Nav.NavigateTo("/dashboard")'>&larr;</span>
        <h3>User Details</h3>
    </div>

    <!-- USER CARD -->
    <div class="ud-card">

        <!-- TABS -->
        <div class="ud-tabs">
            <span class="@(activeTab == "details" ? "active" : "")"
                  @onclick='() => activeTab = "details"'>
                USER DETAILS
            </span>

            <span class="@(activeTab == "loan" ? "active" : "")"
                  @onclick='() => activeTab = "loan"'>
                CREATE LOAN
            </span>

            <span class="@(activeTab == "show" ? "active" : "")"
                  @onclick='() => activeTab = "show"'>
                SHOW LOAN
            </span>

            <span class="@(activeTab == "emi" ? "active" : "")"
                  @onclick='() => activeTab = "emi"'>
                EMI REMINDER
            </span>
        </div>

    @if (activeTab == "show")
    {
        <div class="show-loan">

            <!-- PROFILE -->
            <div class="show-profile">
                <img src="images/avatar-girl.svg" class="show-avatar" />
                <h4>Sunita Agrawal</h4>
            </div>

            <!-- LOAN + STATUS CARD -->
            <div class="show-card">
                <div class="show-item">
                    <img src="images/down.svg" />
                    <div>
                        <span>Loan ID</span>
                        <strong>1235456545</strong>
                    </div>
                </div>

                <div class="show-item">
                    <img src="images/lockstatus.svg" />
                    <div>
                        <span>Phone Lock Status</span>
                        <strong class="unlock">Unlock</strong>
                    </div>
                </div>
            </div>

            <!-- DEVICE DETAILS -->
            <div class="show-section">
                <h5>Device Details</h5>

                <div class="show-row">
                    <img src="images/devicedetail.svg" />
                    <div>
                        <p>EMEI NO.</p>
                        <strong>895656655455</strong>
                    </div>
                </div>

                <div class="show-row">
                    <img src="images/devicedetail.svg" />
                    <div>
                        <p>Device info</p>
                        <span>Model No - OPPO A78 5G</span><br />
                        <span>Android Version - 14, SDK - 34</span>
                    </div>
                </div>
            </div>

            <!-- LOAN DETAILS GRID -->
            <div class="show-section">
                <h5>Device Details</h5>

                <div class="loan-grid">
                    <div>Product Price <strong>₹ 15,000.00</strong></div>
                    <div>Down Payment <strong>₹ 15,000.00</strong></div>

                    <div>EMI Amount <strong>₹ 15,000.00</strong></div>
                    <div>Number Of EMI <strong>15</strong></div>

                    <div>Processing fees <strong>₹ 15,000.00</strong></div>
                    <div>Loan Amount <strong>₹ 15,000.00</strong></div>

                    <div>Total Paid Amount <strong>₹ 15,000.00</strong></div>
                    <div>Balance Amount <strong>₹ 15,000.00</strong></div>

                    <div>EMI Due Amount <strong>₹ 0.00</strong></div>
                    <div>Penalty Amount <strong>₹ 15,000.00</strong></div>
                </div>
            </div>

            <!-- DOWNLOAD -->
            <button class="download-btn" @onclick="OpenPdf">
                Download PDF
            </button>

            <!-- DOCUMENT -->
           <h5 class="doc-title">View Document's</h5>

            <div class="doc-grid">
                <div class="doc-item">
                    <img src="images/eye.png" />
                    <p>Aadhar front</p>
                </div>

                <div class="doc-item">
                    <img src="images/eye.png" />
                    <p>Aadhar back</p>
                </div>

                <div class="doc-item">
                    <img src="images/eye.png" />
                    <p>Photo</p>
                </div>

                <div class="doc-item">
                    <img src="images/eye.png" />
                    <p>PAN</p>
                </div>
                </div>
            </div>
    }

    @if (activeTab == "emi")
    {
        <div class="emi-list">

            <!-- EMI ITEM 1 : PAID -->
            <div class="emi-card paid">
                <span class="emi-index">1</span>

                <div class="emi-left">
                    <img src="images/paid.svg" class="emi-stamp" />

                    <div class="emi-info">
                        <p>Date</p>
                        <p>Mode</p>
                        <p>Amount</p>
                    </div>
                </div>

                <div class="emi-right">
                    <p>20/08/2025</p>
                    <p>Online</p>
                    <p>3254</p>
                </div>
            </div>

            <!-- EMI ITEM 2 : UNPAID WITH UPDATE -->
            <div class="emi-card unpaid highlight">
                <span class="emi-index">2</span>

                <div class="emi-left">
                    <img src="images/unpaid.svg" class="emi-stamp" />

                    <div class="emi-info">
                        <p>Date</p>
                        <p>Mode</p>
                        <p>Amount</p>
                    </div>
                </div>

                <div class="emi-right">
                    <p>20/09/2025</p>
                    <p>—</p>
                    <p>3254</p>
                    <button class="update-btn">Update</button>
                </div>
            </div>

            <!-- EMI ITEM 3 -->
            <div class="emi-card unpaid highlight">
                <span class="emi-index">2</span>

                <div class="emi-left">
                    <img src="images/unpaid.svg" class="emi-stamp" />

                    <div class="emi-info">
                        <p>Date</p>
                        <p>Mode</p>
                        <p>Amount</p>
                    </div>
                </div>

                <div class="emi-right">
                    <p>20/09/2025</p>
                    <p>—</p>
                    <p>3254</p>
                    <button class="update-btn">Update</button>
                </div>
            </div>

            <!-- EMI ITEM 4 -->
            <div class="emi-card unpaid highlight">
                <span class="emi-index">2</span>

                <div class="emi-left">
                    <img src="images/unpaid.svg" class="emi-stamp" />

                    <div class="emi-info">
                        <p>Date</p>
                        <p>Mode</p>
                        <p>Amount</p>
                    </div>
                </div>

                <div class="emi-right">
                    <p>20/09/2025</p>
                    <p>—</p>
                    <p>3254</p>
                    <button class="update-btn">Update</button>
                </div>
            </div>

            <!-- EMI ITEM 5 -->
            <div class="emi-card unpaid highlight">
                <span class="emi-index">2</span>

                <div class="emi-left">
                    <img src="images/unpaid.svg" class="emi-stamp" />

                    <div class="emi-info">
                        <p>Date</p>
                        <p>Mode</p>
                        <p>Amount</p>
                    </div>
                </div>

                <div class="emi-right">
                    <p>20/09/2025</p>
                    <p>—</p>
                    <p>3254</p>
                    <button class="update-btn">Update</button>
                </div>
            </div>

            <div class="emi-card unpaid highlight">
                <span class="emi-index">2</span>

                <div class="emi-left">
                    <img src="images/unpaid.svg" class="emi-stamp" />

                    <div class="emi-info">
                        <p>Date</p>
                        <p>Mode</p>
                        <p>Amount</p>
                    </div>
                </div>

                <div class="emi-right">
                    <p>20/09/2025</p>
                    <p>—</p>
                    <p>3254</p>
                    <button class="update-btn">Update</button>
                </div>
            </div>
        </div>
    }

        <!-- USER DETAILS -->
        @if (activeTab == "details")
        {

        <div class="ud-profile-card">

            <div class="ud-top">
                <img src="images/avatar-girl.svg" class="avatar" />
                <div class="name-box">
                    <h4>Pooja Sharma</h4>
                </div>
                <button class="unlock-btn">
                    <img src="images/unlock.svg" />
                    Unlock
                </button>
            </div>

            <div class="badge-row">
                <div class="badge blue">
                    <img src="images/icon-date.svg" />
                </div>
            </div>

            <div class="info">
                <p><img src="images/register.svg" /> Registration Number : 124545445</p>
                <p><img src="images/icon-registration.svg" /> First Device IMEI Number : 1545454545</p>
                <p><img src="images/icon-registration.svg" /> Second Device IMEI Number : 1545454545</p>
                <p><img src="images/call.svg" /> Alternate Mobile Number : +91 1234567892</p>
            </div>

        </div>

        <div class="quick-actions">
            <div><img src="images/icon-contact.svg" /></div>
            <div><img src="images/icon-location.svg" /></div>
        </div>

        <h4 class="section">Features</h4>

        <div class="feature-list">

            <!-- Set Wallpaper -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/set-wallpaper.png" />
                    <span>Set Wallpaper</span>
                </div>
                @* <CommandToggle/> *@
       <div class="toggle-wrapper">
            <label class="switch">
                <input type="checkbox"
                       checked="@wallpaperToggle"
                       @onclick="() => HandleClick(nameof(wallpaperToggle))"
                       @onclick:preventDefault="true" />
                <span class="slider"></span>
            </label>
        </div>
            </div>


            <!-- Lock Social Media -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/lock-social-media.png" />
                    <span>Lock Social Media</span>
                </div>
                        <div class="toggle-wrapper">
            <label class="switch">
                <input type="checkbox"
                       checked="@socialToggle"
                       @onclick="() => HandleClick(nameof(socialToggle))"
                       @onclick:preventDefault="true" />
                <span class="slider"></span>
            </label>
        </div>
            </div>
            <!-- Track Location -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/icon-mic.svg" />
                    <span>Track Location</span>
                </div>
                <div class="toggle-wrapper">
            <label class="switch">
                <input type="checkbox"
                       checked="@locationToggle"
                       @onclick="() => HandleClick(nameof(locationToggle))"
                       @onclick:preventDefault="true" />
                <span class="slider"></span>
            </label>
        </div>
            </div>
            <!-- Audio Reminder -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/icon-mic.svg" />
                    <span>Audio Reminder</span>
                </div>
            </div>

            <!-- Screen Reminder -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/lock-social-media.png" />
                    <span>Screen Reminder</span>
                </div>
            </div>

                        <!-- Offline App Lock -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/offline-app-lock.png" />
                    <span>Offline App Lock</span>
                </div>
            </div>

            <!-- Offline App Lock -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/applock.png" />
                    <span>Offline App UnLock</span>
                </div>
            </div>

            <!-- Remove -->
            <div class="feature">
                <div class="feature-left">
                    <img src="images/icon-mic.svg" />
                    <span>Remove</span>
                </div>
                        <div class="toggle-wrapper">
            <label class="switch">
                <input type="checkbox"
                       checked="@removeToggle"
                       @onclick="() => HandleClick(nameof(removeToggle))"
                       @onclick:preventDefault="true" />
                <span class="slider"></span>
            </label>
        </div>
            </div>

        </div>          
    }

    <!-- CREATE LOAN -->
    @if (activeTab == "loan")
    {
        <div class="cl-bg">
            <div class="cl-form">

                <label>Product Name</label>
                <div class="input-box">
                    <img src="images/icon-box.svg" />
                    <input placeholder="Enter Product Name" />
                </div>

                <label>Product Price</label>
                <div class="input-box">
                    <img src="images/icon-rupee.svg" />
                    <input placeholder="Enter Product Price" />
                </div>

                <label>Processing Fees</label>
                <div class="input-box">
                    <img src="images/icon-rupee.svg" />
                    <input placeholder="Enter Processing Fees" />
                </div>

                <label>Down Payment</label>
                <div class="input-box">
                    <img src="images/icon-wallet.svg" />
                    <input placeholder="Enter Down Payment" />
                </div>

                <label>Loan Amount</label>
                <div class="input-box">
                    <img src="images/icon-rupee.svg" />
                    <input placeholder="Enter Loan Amount" />
                </div>

                <label>Number Of EMI</label>
                <div class="input-box">
                    <img src="images/icon-emi.svg" />
                    <input placeholder="Enter No. of EMI" />
                </div>

                <label>Actual EMI</label>
                <div class="input-box">
                    <img src="images/emi-no.svg" />
                    <input placeholder="Enter Actual EMI" />
                </div>

                <label>First EMI Date</label>
                <div class="input-box">
                    <img src="images/icon-calendar.svg" />
                    <input placeholder="Enter First EMI Date" />
                </div>
@* 
                <label>Upload Document’s</label>
                <div class="upload-grid">
                    <button class="upload-item"><img src="images/plus.svg" /><span>Aadhaar Front</span></button>
                    <button class="upload-item"><img src="images/plus.svg" /><span>Aadhaar Back</span></button>
                    <button class="upload-item"><img src="images/plus.svg" /><span>Pan Card</span></button>
                    <button class="upload-item"><img src="images/plus.svg" /><span>Photo</span></button>
                </div> *@
        <label>Upload Document’s</label>
        <div class="upload-grid">

            <button type="button" class="upload-item"
                    @onclick='() => PickImage("Aadhaar Front")'>
                <img src="images/plus.svg" />
                <span>Aadhaar Front</span>
            </button>

            <button type="button" class="upload-item"
                    @onclick='() => PickImage("Aadhaar Back")'>
                <img src="images/plus.svg" />
                <span>Aadhaar Back</span>
            </button>

            <button type="button" class="upload-item"
                    @onclick='() => PickImage("Pan Card")'>
                <img src="images/plus.svg" />
                <span>Pan Card</span>
            </button>

            <button type="button" class="upload-item"
                    @onclick='() => PickImage("Photo")'>
                <img src="images/plus.svg" />
                <span>Photo</span>
            </button>

        </div>
                <div class="guarantor-row">
                    <span class="guarantor-text">Do You Want To Add A Guarantor?</span>
                    @if(guarantors.Count <2){
                        <button class="add-btn" @onclick="AddGuarantor"><span>+ADD</span></button>
                    }
                </div>
                @foreach (var g in guarantors)
                {
                    <div class="guarantor-section">

                        <label>Guarantor Name</label>
                        <div class="input-box">
                            <input class="g-input" placeholder="Name" />
                        </div>

                        <label>Guarantor Mobile Number</label>
                        <div class="input-box">
                            <input class="g-input" placeholder="Enter Mobile Number" />
                        </div>

                        <label>Address</label>
                        <div class="input-box">
                            <input class="g-input" placeholder="Enter Address" />
                        </div>

                        <label>Guarantor Upload Aadhar</label>
                        <div class="upload-grid">
                            <button class="upload-item">
                                <img src="images/plus.svg" />
                                <span>Aadhaar Front</span>
                            </button>

                            <button class="upload-item">
                                <img src="images/plus.svg" />
                                <span>Aadhaar Back</span>
                            </button>
                        </div>
                        <button class=" add-btn add-icon-only" @onclick="AddGuarantor">
                            <span>+Add</span>
                        </button>
                    </div>
                }
                    <div class="agreement-box">
                        <p class="agreement-title">Agreement</p>
           
                     <p class="agreement-text">
                            This Loan Agreement is made and entered into by and between the Lender
                            and the Borrower for the purpose of providing a personal or business loan.
                            The Borrower hereby acknowledges the receipt of the loan amount and agrees
                            to repay the same, along with the applicable interest rate
                        </p>

                        <span class="see-more" @onclick="OpenAgreement">See More</span>

                        <div class="agreement">
                            <input type="checkbox" />
                            <p>I have read and understood the above loan agreement.</p>
                        </div>
                    </div>

                <label class="signature-title">Signature</label>
                <div class="signature-container" style="width:100%; height:100%;">
                    <canvas id="loanSignatureCanvas"
                        style="width:100%; height:100%; background:#F0F0F3; border:1px solid #f1eaea; border-radius:8px;">
                        </canvas>
                    <img src="images/icon-edit.svg"
                        class="edit-icon"
                        @onclick="Clear" />
                </div>
               </div>
            </div>
        }
            <button class="submit-btn"
                @onclick='() => Nav.NavigateTo("/submit-success")'>
                Submit
            </button>
    </div>

    <!-- ================= AGREEMENT MODAL (NOT BLURRED) ================= -->
    @if (showAgreement)
    {
        <div class="agreement-overlay">
            <div class="agreement-modal">
                <div class="agreement-header">
                    <span>Agreement</span>
                    <span class="close" @onclick="CloseAgreement">×</span>
                </div>

                <div class="agreement-body">
                    <p>
                        this loan agreement is made and entered into by and between the lender
                        and the borrower for the purpose of providing a personal or business loan.
                        the borrower hereby acknowledges the receipt of the loan amount and agrees
                        to repay the same, along with the applicable interest rate, within the
                        period mutually agreed upon by both parties.
                    </p>

                    <p>
                        in the event of any delay or failure to make timely payments, the borrower
                        shall be liable to pay late fees or additional charges in accordance with
                        the lender’s policy.
                    </p>

                    <p>
                        both parties confirm that the details and information shared during this
                        agreement are accurate and truthful to the best of their knowledge.
                    </p>
                </div>
            </div>
        </div>
    }
</div>


@if (showPopup)
{
    <div class="command-overlay">
        <div class="command-modal">

            <div class="command-header">
                <span>Warning</span>
                <span class="close" @onclick="ClosePopup">✕</span>
            </div>

            <div class="command-body">
                <p>Are you sure you want to proceed?</p>

                <div class="command-actions">
                    <button class="yes-btn" @onclick="ConfirmAction">Yes</button>
                    <button class="no-btn" @onclick="ClosePopup">No</button>
                </div>
            </div>

        </div>
    </div>
}

@code {
    private bool isChecked;
private bool showPopup;
private bool pendingValue;
    string activeTab = "details";
    bool showAgreement = false;
    void OpenAgreement() => showAgreement = true;
    void CloseAgreement() => showAgreement = false;
    private bool wallpaperToggle;
    private bool socialToggle;
    private bool locationToggle;
    private bool removeToggle;

    private string currentToggle;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (activeTab == "loan")
        {
            await Task.Delay(100); // allow DOM render
            await JS.InvokeVoidAsync("initSignature", "loanSignatureCanvas");
        }
    }

    private async Task Clear()
    {
        await JS.InvokeVoidAsync("clearSignature");
    }

    private async Task Save()
    {
        var base64 = await JS.InvokeAsync<string>("getSignature");

        if (!string.IsNullOrEmpty(base64))
        {
            Console.WriteLine(base64);
        }
    }
    private List<int> guarantors = new List<int>();

    private void AddGuarantor()
    {
        if (guarantors.Count < 2)
            guarantors.Add(guarantors.Count + 1);
    }

    private void RemoveGuarantor(int id)
    {
        guarantors.Remove(id);
    }
    private async Task OpenPdf()
    {
        using var stream = await FileSystem.OpenAppPackageFileAsync("UserLoanAgreementForm.pdf");

        var filePath = Path.Combine(FileSystem.CacheDirectory, "UserLoanAgreementForm.pdf");

        using var fileStream = File.Create(filePath);
        await stream.CopyToAsync(fileStream);

        await Launcher.Default.OpenAsync(new OpenFileRequest
        {
            File = new ReadOnlyFile(filePath)
        });
    }
    private async Task PickImage(string type)
    {
        try
        {
            var action = await Application.Current.MainPage.DisplayActionSheet(
                "Select Option",
                "Cancel",
                null,
                "Camera",
                "Gallery");

            FileResult photo = null;

            if (action == "Camera")
            {
                if (MediaPicker.Default.IsCaptureSupported)
                    photo = await MediaPicker.Default.CapturePhotoAsync();
            }
            else if (action == "Gallery")
            {
                photo = await MediaPicker.Default.PickPhotoAsync();
            }

            if (photo != null)
            {
                var stream = await photo.OpenReadAsync();
                Console.WriteLine($"Selected file: {photo.FileName}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }


private void ClosePopup()
{
    showPopup = false;
}
private void HandleClick(string toggleName)
{
    currentToggle = toggleName;

    pendingValue = toggleName switch
    {
        nameof(wallpaperToggle) => !wallpaperToggle,
        nameof(socialToggle) => !socialToggle,
        nameof(locationToggle) => !locationToggle,
        nameof(removeToggle) => !removeToggle,
        _ => false
    };

    showPopup = true;
}

private void ConfirmAction()
{
    switch (currentToggle)
    {
        case nameof(wallpaperToggle):
            wallpaperToggle = pendingValue;
            break;

        case nameof(socialToggle):
            socialToggle = pendingValue;
            break;

        case nameof(locationToggle):
            locationToggle = pendingValue;
            break;

        case nameof(removeToggle):
            removeToggle = pendingValue;
            break;
    }

    showPopup = false;
}

}
