@page "/user-list"
@inject NavigationManager Nav
@inject HttpClient Http
@inject UserSession Session

<link href="css/user-list.css" rel="stylesheet" />

<div class="userlist-page">

    <!-- HEADER -->
    <div class="ul-header">
        <span class="back-icon"
              @onclick='() => Nav.NavigateTo("/dashboard")'>
            &larr;
        </span>
        <h3>User List</h3>
    </div>

    <!-- SEARCH -->
    <div class="search-box">
        <input type="text"
               placeholder="Search .." />
    </div>

    @if (customers == null)
    {
        <p style="padding:16px;">Loading...</p>
    }
    else{
        @foreach (var user in customers)
        {
            <UserActivationCard
                EnableNavigation="true"
                UserName="@user.Name"
                RegNo="@user.LoanAccountNumber"
                Imei1="@user.SerialNumber"
                Phone="@user.AlternateMobile"
                ShowQrButton="@( !user.IsActivated )"
                ShowLockActions="@( user.IsActivated )" />
        }
    }
    
</div>

@code {

    List<UserModel>? customers;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }
    async Task LoadUsers()
    {
        try
        {
            var dealerId = Session.DealerProfileId;

            if (string.IsNullOrEmpty(dealerId))
                return;

            Http.DefaultRequestHeaders.Authorization =
                new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", Session.Token);

           var response = await Http.GetFromJsonAsync<IosUserListResponse>(
    $"api/IOSCustomer/GetIosUserList/{dealerId}?pageNumber=1&pageSize=10");

    if (response != null && response.customers != null)
    {
        customers = response.customers.Select(x => new UserModel
        {
            Name = x.name,
            LoanAccountNumber = x.loanAccountNumber,
            AlternateMobile = x.alternateMobile,
            SerialNumber = x.serialNumber,
            CreatedDate = x.createdDate,
            IsActivated = true   // This API does NOT give activation status
        }).ToList();
    }
    else
    {
        customers = new List<UserModel>();
    }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            customers = new List<UserModel>();
        }
    }
    public class UserModel
    {
        public string Name { get; set; }
        public string LoanAccountNumber { get; set; }
        public string AlternateMobile { get; set; }
        public string SerialNumber { get; set; }
        public bool IsActivated {get; set;}
        public DateTime? CreatedDate { get; set; }
        public int UnlockCode { get; set; }
    }


    public class ActiveUsersResponse
    {
        public bool isSuccess { get; set; }
        public ActiveUsersData data { get; set; }
    }

    public class ActiveUsersData
    {
        public int totalRecords { get; set; }
        public int pageNumber { get; set; }
        public int pageSize { get; set; }
        public List<ActiveUserItem> data { get; set; }
    }

    public class ActiveUserItem
    {
        public Customer customer { get; set; }
        public AppSecurity appSecurity { get; set; }
    }

    public class Customer
    {
        public string loanAccountNumber { get; set; }
        public string name { get; set; }
        public string mobile { get; set; }
        public string alternateMobile { get; set; }
        public string serialNumber { get; set; }
        public DateTime createdDate { get; set; }
    }

    public class AppSecurity
    {
        public bool isActivation { get; set; }
    }
    public class IosUserListResponse
{
    public int totalRecords { get; set; }
    public int pageNumber { get; set; }
    public int pageSize { get; set; }
    public List<IosCustomer> customers { get; set; }
}

public class IosCustomer
{
    public string name { get; set; }
    public string loanAccountNumber { get; set; }
    public string alternateMobile { get; set; }
    public string serialNumber { get; set; }
    public DateTime createdDate { get; set; }
}
}