@inject NavigationManager Nav

<div class="ud-card">
<div class="ud-card-box">
   <div class="ud-top">
        <img src="images/avatar-girl.svg" class="avatar" />

        <div class="name-box">
            <h4>@UserName</h4>
        </div>

        @if (EnableNavigation)
        {
       <button class="details-btn" @onclick='() => Nav.NavigateTo("/user-details")'>
                →
            </button>     
        }
    </div>

    @* <div class="badge-row">
        <div class="badge blue">
            <img src="images/icon-date.svg" />
        </div>
        </div> *@
    <div class="ud-meta">

        <div class="meta-card meta-date">
            <div class="meta-top">
                <img src="images/icon-calendar.svg" />
                <span>Date</span>
            </div>
            <div class="meta-value">
                @DateTime.Now.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="meta-card meta-time">
            <div class="meta-top">
                <img src="images/icon-clock.svg" />
                <span>Time</span>
            </div>
            <div class="meta-value">
                @DateTime.Now.ToString("HH:mm tt")
            </div>
        </div>

        <div class="meta-card meta-code">
            <div class="meta-top">
                <img src="images/secure-code.svg" />
                <span>Secure code</span>
            </div>
            <div class="meta-value">
                @RegNo
            </div>
        </div>

    </div>

    <div class="info">
        <p><img src="images/register.svg" /> Registration Number : @RegNo</p>
        <p><img src="images/icon-registration.svg" /> First Device IMEI Number : @Imei1</p>
        <p><img src="images/icon-registration.svg" /> Second Device IMEI Number : @Imei2</p>
        <p><img src="images/call.svg" /> Alternate Mobile Number : @Phone</p>
    </div>
    @if (ShowQrButton)
    {
        <div class="qr-long-wrapper">
            <button class="qr-long-btn">
                <span class="qr-circle">
                    <img src="images/icon-qr.svg" />
                </span>
                Scan QR Code
            </button>
        </div>
    }
    @if (ShowLockActions)
    {

            <div class="action-row">

            <div class="action-row">

                <button class="lock-btn pill">
                    <span class="pill-circle red">
                        <img src="images/lock.svg" />
                    </span>
                    Lock
                </button>

                <button class="unlock-btn pill">
                    <span class="pill-circle green">
                        <img src="images/unlock.svg" />
                    </span>
                    Unlock
                </button>

            </div>
        </div>
    }
    </div>
</div>

@code {
    [Parameter] public bool EnableNavigation { get; set; }
    [Parameter] public string UserName { get; set; } = "Pooja Sharma";
    [Parameter] public string RegNo { get; set; } = "124545445";
    [Parameter] public string Imei1 { get; set; } = "1545454545";
    [Parameter] public string Imei2 { get; set; } = "1545454545";
    [Parameter] public string Phone { get; set; } = "+91 1234567892";
    [Parameter] public bool ShowQrButton { get; set; }
    [Parameter] public bool ShowLockActions { get; set; }
}